body{
  margin: 0;
  padding: 0;
}

.flex_grid{

  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.user_input{
  margin: 30px;
    padding-left: 30px;
}

.user_input h4 {
  margin: 0;
  color: #f44336;
  font-size: 24px;
}

form{

  margin: 10px 0px;

}
 button{
  padding: 15px 40px;
  background-color: #f44336;
  border-radius: 3px;
  border: unset;
  outline: none;
  color: #fff;
  margin-left: 20px;
  /* vertical-align: middle; */
  font-size: 18px;


}

input{
  line-height: 1.5;
    padding: 8px 8px;
    border-radius: 3px;
    font-size: 20px;
}

span{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.user_input li{

  font-size: 22px;
}

.user2 h4{
  color:#26a69a;
  margin: 10px 0px;
}


@media (max-width: 768px) { 

  .flex_grid{
    
    flex-direction: column;
  }

  button{
    margin-left: unset;
    margin-top: 10px;
  }
}
